name: release
on:
  release:
    types: [created]

jobs:
  build:
    name: release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - x86_64-apple-darwin
          - aarch64-apple-darwin
    steps:
      - uses: actions/checkout@v3
      - name: Setup Fluent CI
        uses: fluentci-io/setup-fluentci@v5
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: denoland/setup-deno@v2
      - name: Compile
        run: |
          rm deno.lock || true
          deno compile -A --no-check --output vmx --target ${{ matrix.target }} main.ts
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Archive assets
        run: |
          tar czvf vmx_${{ env.RELEASE_VERSION }}_${{ matrix.target }}.tar.gz vmx
          shasum -a 256 vmx_${{ env.RELEASE_VERSION }}_${{ matrix.target }}.tar.gz > vmx_${{ env.RELEASE_VERSION }}_${{ matrix.target }}.tar.gz.sha256
      - name: Upload release assets
        run: |
          for ext in tar.gz tar.gz.sha256; do
            export FILE=vmx_${{ env.RELEASE_VERSION }}_${{ matrix.target }}.$ext
            fluentci run --wasm github release_upload $TAG $FILE
          done
        env:
          TAG: ${{ env.RELEASE_VERSION }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
